.row {
  /* width: 992px; */
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
/* #lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
} */

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
/* #steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
} */

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  /* width: 100%; */
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* .clear {
  clear: both;
} */

/* RESPONSIVE */
/* TABLET */
/* MD - 992px > Screen */
@media screen and (max-width: 991px) {
  /* General */
  body{
    font-size: 1.2rem;
  }
  h1{
    margin-bottom: 2rem;
  }
  img{
    margin-bottom: 20px;
  }
  img:not(#why .row img){
   height: 180px;
  } 
  hr{
    margin-top: 5px;
  }
  .container.grey {
    background-color: #e9e9e9;
  }
  .row{
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  /* Lezioni */
  #lezioni .row>.right{
    border-left: 6px dotted #e9e9e9;
  }
  /* Steps */
  #steps .row>.right{
    padding-top: 30px;
  }
  /* Why */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 30px;
    padding: 0 20px 10px;
  }
}

/* MOBILE */
/* XS - 768 > Screen */
@media screen and (max-width: 767px){
  /* General */
  .row{
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  img:not(#why .row img){
    height: 150px;
   }
   #why .row img{
     height: 170px;
   }
   /* Lezioni */
  #lezioni .row>.right{
    margin-top: 15px;
    border-left: 0;
  }
  /* Steps */
  #steps .row>.central{
    padding-top: 30px;
  }
  /* Why */
  #why.container{
    background-color: #8FBC8F;
  }
}